@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
  min-height: 100%;
}

.conteiner {
  max-width: 1140px;
  margin: 0 auto;
}

.top {
  background: #222222;
}

.header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.padding_header{
  padding: 10px;
}

.header_left {
  display: flex;
  align-items: center;
}

.search form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-left: 41px;
}

.search input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #222222;
  outline: none;
  background: #FFFFFF;
}

.search button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #222222;
  cursor: pointer;
}
/* 
.search button:before {
  color: #FFFFFF;
} */

.header_right {
  display: flex;
  align-items: center;
}

.header_right_menu_lk_basket {
  margin-left: 33px;
}

.top_baner {
  background: #F1E4E6;
  display: flex;
}

.top_baner_content {
  display: flex;
  justify-content: space-between;
}

.top_baner_img {
  margin-left: -200px;
  margin-top: 35px;
  margin-bottom: -35px;
}

.top_baner_heding {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_baner_text {
  font-size: 32px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  width: 450px;
  margin-right: 331px;
}

.top_baner_text_max {
  font-size: 46px;
}

.colorpink {
  color: #F16D7F;
}

.section_3_banera {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 30px;
}

.section_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%
}

.section_text {
  position: absolute;
  text-align: center;
}

.text_1 {
  font-size: 16px;
  color: #FFFFFF;
}

.text_2 {
  font-size: 24px;
}

.section_1_baner {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles_block_inside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.articles_block_inside a {
  text-decoration: none;
}

.heading_articles_block {
  font-size: 30px;
  color: #222222;
  text-align: center;
  margin-top: 96px;
  margin-bottom: 6px;
}

.content_articles_block {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  padding-bottom: 18px;
}

.article {
  width: 360px;
  padding-bottom: 20px;
  background: #F8F8F8;
  margin-top: 30px;
}

.article:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article img:hover {
  filter: brightness(0.3);
}

.article h4 {
  font-size: 13px;
  color: black;
  margin-top: 26px;
  margin-bottom: 13px;
  padding-left: 17px;
  padding-right: 17px;
}

.article_content {
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
  padding-left: 17px;
  padding-right: 17px;
}

.article_price {
  font-size: 16px;
  color: #F16D7F;
  margin-top: 18px;
  padding-left: 17px;
  padding-right: 17px;
}

.button_product {
  text-align: center;
}

.button_all_product {
  border: 1px solid #F16D7F;
  font-size: 16px;
  color: #F16D7F;
  text-decoration: none;
  padding: 14px 39px;
  text-align: center;
  display: inline-block;
  margin-bottom: 95px;
}

.button_all_product:hover {
  background: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
}

.footer_top {
  background: #222224;
  height: 341px;
  display: flex;
  align-items: center;
}

.footer_info {
  display: inline-block;
  width: 360px;
  text-align: center;
}

.footer_info img {
  margin-bottom: 28px;
}

.footer_info h4 {
  color: #FBFBFB;
  font-size: 19.96px;
  line-height: 24px;
  margin-bottom: 16px;
}

.footer_info p {
  color: #FBFBFB;
  font-size: 13.972px;
  line-height: 17px;
}

.footer_info_search_fon {
  width: 100%;
  height: 448px;
  background: rgba(244, 244, 244, 0.7) url(img/img_info_search.svg) no-repeat center;
}

.subscribe {
  display: flex;
  justify-content: space-between;
}

.face {
  display: inline-block;
  width: 360px;
  text-align: center;
  margin-top: 97px;
}

.face p {
  margin-top: 30px;
  width: 360px;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}

.footer_input {
  display: inline-block;
  text-align: center;
  width: 557px;
  margin-top: 140px;
}

.heading_footer_input {
  font-size: 24px;
  line-height: 167.2%;
}

.button_text {
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  height: 49px;
  border: none;
}

.footer_input input {
  color: #222224;
  opacity: 0.67;
  background: #E1E1E1;
  width: 256px;
  padding-left: 22px;
  margin-top: 32px;
  border-radius: 20px 0px 0px 20px;
}

.button_submit {
  text-align: center;
  color: #FFFFFF;
  background: #F16D7F;
  width: 100px;
  padding: 7px;
  margin-left: -4px;
  border-radius: 0px 20px 20px 0px;
}

.footer_bottom_fon {
  background: #222224;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  height: 79px;
  list-style-type: none;
}

.footer_left {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.footer_right {
  display: flex;
  align-items: center;
}

.footer_seti {
  list-style-type: none;
  margin-left: 7px;
  background: #FFFFFF;
  height: 32px;
  width: 32px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
}

.fa-facebook {
  font-family: FontAwesome;
  color: #000000;
}

.footer_seti:hover {
  background: #F16D7F;
}

.footer_seti a:hover {
  color: #FFFFFF;
}

/* КАТАЛОГ */
.new {
  height: 148px;
  background: #F8F3F4;
  display: flex;
  margin-bottom: 51px;
}

.new a {
  text-decoration: none;
}

.text_red {
  color: #F16D7F;
}

.text_red:hover {
  color: #F16D7F;
}

.text_heading {

  font-size: 24px;
  line-height: 29px;
}

.crumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1140px;
}

.breadcrumb a {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb-item a:hover {
  color: #F16D7F;
}

.new:hover {
  padding: 10px 0px 10px 0px;
  text-decoration: none;
}

.catalog_border_conteiner {
  height: 200px;
}

.filter a {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-top: 51px;
}

.scroll_bar {
  width: 1140px;
  display: flex;
}

.bar_list {
  border: 1px solid #EBEBEB;
  margin-top: 49px;
  height: 43px;
  margin-bottom: 97px;
  width: 283px;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #636363;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar_list:hover {
  color: #F16D7F;
}

/* КАРТОЧКА ТОВАРА */
.conteiner_carousel {
  max-width: 1600px;
  margin: 0 auto;
  z-index: 2;
}

.d-block {
  width: 597px;
  height: 724px;
}

.carousel-item {
  height: 777px;
  display: flex;
  background: #F7F7F7;
}

.product_description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1141px;
  height: 601px;
  background: #FFFFFF;
  border: 1px solid #c7c5c5;
  margin-top: -50px;
  padding: 65px;
  z-index: 1;
}

.heading_product {
  text-align: center;
  font-weight: 300;
  width: 555px;
}

.heading_product h1 {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}

.line_product {
  width: 63px;
  height: 3px;
  margin-bottom: 12px;
}

.heading_product h2 {
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.heading_product p {
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  margin-bottom: 32px;
}

.product_price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin-bottom: 65px;
}

.heading_product button {
  width: 211px;
  height: 47px;
  border: 1px solid #F16D7F;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding: 14px 56px 14px 72px;
  background: #ffff;
  margin-top: 50px;
}

/* РЕГИСТРАЦИЯ */
.registration {
  display: flex;
  justify-content: space-between;
}

.input {
  margin-bottom: 20px;
  width: 360px;
  height: 45px;
  background: #FFFFFF;
  padding: 15px;
  border: 1px solid #B1B1B1;
}

.name_input {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;

}

.forma_registration {
  display: flex;
}

.form_radio label {
  margin-top: 31px;
  margin-right: 20px;
  margin-left: 10px;
  margin-bottom: 33px;
}

.forma_registration p {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 360px;
}

.button_registration {
  padding: 16px;
  background: #F16D7F;
  width: 167px;
  height: 50px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
}

.forma_registration {
  margin-bottom: 96px;
}

.text_registration {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  width: 652px;
  padding-left: 50px;
}

.text_registration p {
  margin-top: 22px;
  margin-bottom: 21px;
}

.text_registration ul {
  margin-left: -30px;
}

.text_registration li {
  list-style-type: none;
  margin-bottom: 16px;
}

.text_registration li:before {
  list-style-type: none;
  /* content: '✔  '; */
  content: url(img/vector.svg);
  margin-right: 23px;
}