/* @charset "UTF-8"; */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
  min-height: 100%;
}

.conteiner {
  max-width: 1140px;
  margin: 0 auto;
}

.top {
  background: #222222;
}

.header {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search {
  margin-left: 41px;
}

.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_right_menu_lk_basket {
  margin-left: 33px;
}

.top_baner {
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_baner_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_baner_img {
  margin-left: -200px;
  margin-top: 35px;
  margin-bottom: -35px;
}

.top_baner_heding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_baner_text {
  font-size: 32px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  width: 377px;
  margin-right: 331px;
}

.colorpink {
  color: #F16D7F;
}

.section_3_banera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 30px;
}

.section_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_text {
  position: absolute;
  text-align: center;
}

.text_1 {
  font-size: 16px;
  color: #FFFFFF;
}

.text_2 {
  font-size: 24px;
}

.section_1_baner {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles_blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}

.heading_articles_block {
  font-size: 30px;
  color: #222222;
  text-align: center;
  margin-top: 96px;
  margin-bottom: 6px;
}

.content_articles_block {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  padding-bottom: 18px;
}

.article {
  width: 360px;
  padding-bottom: 20px;
  background: #F8F8F8;
  margin-top: 30px;
}

.article h4 {
  font-size: 13px;
  color: black;
  margin-top: 26px;
  margin-bottom: 13px;
  padding-left: 17px;
  padding-right: 17px;
}

.article_content {
  font-size: 14px;
  color: #5d5d5d;
  padding-left: 17px;
  padding-right: 17px;
}

.article_price {
  font-size: 16px;
  color: #F16D7F;
  margin-top: 18px;
  padding-left: 17px;
  padding-right: 17px;
}

.button_product {
  text-align: center;
}

.button_all_product {
  border: 1px solid #FF6A6A;
  font-size: 16px;
  color: #F26376;
  text-decoration: none;
  padding: 14px 39px;
  text-align: center;
  display: inline-block;
  margin-bottom: 95px;
}

.info_block {
  background: #222224;
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */